
{% extends "base.html" %}
{% block content %}

<h1 class="title">ホーム</h1>

<div style="display: flex; justify-content: space-around;">
    <div>
        <form action="{% url 'login' %}?param=offer" method="post">
        {% csrf_token %}
            <div class="title has-text-centered">
                <p>建設会社様</p>
            </div>
            <img src="img/派遣先.png" alt="" style="width: 400px;">
            <div hidden>
                <input type="text" value="offer">
            </div>
            <div class="has-text-centered">
                <button class="button is-danger is-rounded is-large is-hovered" style="margin: 50px;">ログイン</button>
            </div>
        </form>
    </div>
    <div>
        <form action="{% url 'login' %}?param=receive" method="post">
            {% csrf_token %}
                <div class="title has-text-centered">
                    <p>派遣会社様</p>
                </div>
                <img src="img/派遣会社.png" alt="" style="width: 400px;">
                <div hidden>
                    <input type="text" value="offer">
                </div>
                <div class="has-text-centered">
                    <button class="button is-primary is-rounded is-large is-hovered" style="margin: 50px;">ログイン</button>
                </div>
            </form>
    </div>
</div>


{% endblock %}