
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAMOS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
    <nav class="navbar is-primary" style="display: flex; justify-content:space-between; align-items: center;">
            <div class="navbar-brand">
            <a href="{% url 'provider_frontpage' %}" class="navbar-item">
                <strong>管理画面</strong>
            </a>
            </div>
            <div style="margin-right: 10px; padding: 5px 30px; background-color: #99FFFF; border-radius: 10px;">
                {% if request.user.is_authenticated %}
                <div style="color: white;">{{request.user}} / <a href="{% url 'logout' %}">ログアウト</a></div>
                {% else %}
                <a href="{% url 'clientlogin' %}">ログイン</a>
                {% endif %}
            </div>
    </nav>
    
    <section class="section">
        <div>{% block content %} {% endblock %}</div>
    </section>
</body>
</html>